######################
# Eclipse
######################
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath

######################
# Gradle
######################
.gradle/**

######################
# Directories
######################
/build/**
/bin/**

######################
# Others
######################
*.class
*.*~
*~

######################
# Logs
######################
*.log