######################
# Eclipse
######################
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath

######################
# Gradle
######################
.gradle/**

######################
# Directories
######################
/build/**
/bin/**

######################
# Others
######################
*.class
*.jar
*.war
*.ear
*.*~
*~

######################
# Logs
######################
*.log